<!doctype html>
<html lang="en" ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="lib/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div ng-controller="appController">

      <custom-selector 
        array='cities' 
        change-selected-value='changeSelectedValue(newValue)'>
      </custom-selector>

      <button ng-click="addInfo()">ADD</button>

      <ul ng-if="weatherList.length" >
        <li ng-repeat="weather in weatherList">
            <weather-card 
              class="weather-card" 
              title='weather.title' 
              temp='weather.temp' 
              delete-card="delete(title)">
            </weather-card>
        </li>
      </ul>
    </div>

    <script src='js/app.module.js'></script>
    <script src='js/appController.js'></script>
    <script src='js/customSelector.directive.js'></script>
    <script src='js/weatherCard.directive.js'></script>
  </body>
</html>